.main {
    display: flex;
    padding: 20px;
}

.categories{
    
}

.sidebar {
    background-color: #1e1e1e;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.sidebar h3 {
    margin-top: 0;
}