
.products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 20px;
    overflow: auto ;
    scrollbar-width: none;
    max-height: 100vh;
     /*test shit for scrolling */
}

.product {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
}

.product:hover {
    transform: scale(1.05);
}
.product img {
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product .name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product .price {
    color: #8a4bfc;
    margin-bottom: 10px;
}

.product .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product .buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}